.button-bar {
  @extend: %button-bar;
}

.button-bar__item {
  @extend: %button-bar__item;
}

.button-bar__item > input {
  @extend: %hide-input;
}

.button-bar__button {
  border-radius: inherit;
}

.button-bar__button:focus {
  @extend: %button-bar__button--focus;
}

.button-bar__item:disabled {
  @extend: %disabled;
}
