@import "topcoat-utils";

%button-bar {
  display: flex;
  margin: 0;
  padding: 0;
}

%button-bar__item {
  width: auto;
  border-radius: 0;
  position: relative;
}

%button-bar__item--disabled {
  @extend: %disabled;
}

%button-bar__item__input {
  @extend: %hide-input;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

%button-bar__button {
  border-radius: inherit;
}

%button-bar__button--focus {
  z-index: 1;
}
